@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
@font-face

/*perintah untuk memanggil font eksternal*/
      {
      font-family: 'ActivGrotesk';
      /*memberikan nama bebas untuk font*/
      src: url('./font/AktivGrotesk-Regular.otf');
      /*memanggil file font eksternalnya di folder nexa*/
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      scroll-behavior: smooth;
      font-family: 'ActivGrotesk';
}

@keyframes slideIn {
      from {
            transform: translateY(-100%);
      }

      to {
            transform: translateY(0);
      }
}

.slide-in {
      animation: slideIn 0.4s ease-out;
}